.inline-block {
    display: inline-block;
    vertical-align: center;
}

.logo {
    width: 15%;
    padding-top: 5px;
    float: left;
    text-align: center;

}

nav {
    width: 80%;
    padding: 10px;
    justify-content: space-evenly; 
   font-family: Georgia, 'Times New Roman', Times, serif
   /* update to philosopher font */
}

ul {
    width: 50%;
    margin-left: auto;
}

.Hero {
    padding: 25px;
    height: 400px;
}

.imageCollage {
    margin-left: 0 auto;
}